.racer-setup-item {
    opacity: 0;
    display: flex;
    flex-flow: column;
    margin-bottom: 1rem;
    gap: .5rem;
    position: relative;
    transform: translateY(0%);
} 

.racer-title {
    display: flex;
    gap: 15px;
    line-height: 1.5;
}


.face-navigation-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.line {
    position: absolute;
    border-radius: 5%;
    height: 1rem;
    width: 100%;
    background-color: rgb(49, 49, 49);
    transform-origin: 0% 50%;
    border-radius: 50%;
    top: 67%;
    left: -3%;
    transform: scaleX(0);
}

.item-button-group {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.face {
    display: inline-block;
}

.flex {
    display: flex;
}