.finish-line {
    border: none;
    width: 2.6rem;
    height: 100vh;
    background-image: url("./assets/img/finishPattern.png");
    background-repeat: repeat;
    writing-mode: vertical-lr;
}

.game-page {
    width: 100%;
    z-index: 100;
    position: relative;
    display: flex; 
    flex-flow: column;
    justify-content: center;
    min-height: 100vh;
    background-color:rgb(211, 211, 182)
}

